[submodule "auto-battler"]
	path = auto-battler
	url = https://github.com/Nekonoha/auto-battler.git
[submodule "visual-tool"]
	path = visual-tool
	url = https://github.com/Nekonoha/visual-tool.git
	ignore = all
